body {
    height: 100vh;
    padding: 90px;
    background-image: url('aws.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.container {
    z-index: 12;
    max-width: 1050px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    margin: 0 auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    opacity: 0.8;
    padding: 20px;
}

.main-title {
    font-family: Georgia;
    color: orange;
    text-align: center;
    font-style: italic;
}
h2 {
    color: orange;
    font-family: Georgia;
    font-weight: bold; 
}

ul {
    list-style-type: none;
    padding: 10;
}

li {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.btn-envoyer, .btn-supprimer, .btn-telecharger {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;

}

.btn-envoyer {
    background-color: #2196F3; 
    margin-left: 35px; 
    margin-bottom: 60px;
    padding-right: 28px;
    padding-left: 28px;

}

.btn-supprimer {
    background-color: #b82318;
    margin-bottom: 10px;
    padding-right: 24px;
    padding-left: 24px;

 
}

.btn-telecharger {
    background-color: #4CAF50; 
}
